<%- include ("./partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/forgot" method="post">
            <legend>Forgot Password?</legend>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input id="email" type="email" name="email" autofocus class="form-control"
                    placeholder="Please enter your email">
            </div>
            <div class="form-group">
                <label for="resetPass" class="sr-only">Reset Pass</label>
                <input id="resetPass" type="submit" value="Reset Password" class="btn btn-outline-dark">
            </div>
        </form>
        <div class="form-signin">
            <label for="goBK" class="sr-only">Go Back</label>
            <a id="goBK" class="btn btn-sm btn-outline-dark" href="/products">Go Back</a>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>