<%- include ("../partials/header") %>

<h1>Notifications</h1>

<ul>
    <% allNotifications.forEach(function(notification) { %>
    <li>
        <a href="/products/<%= notification.productId %>">
            <%= notification.username %> posted a new product %>
        </a>
    </li>
    <% }); %>
</ul>

<%- include ("../partials/footer") %>