<%- include ("../partials/header") %>

<div class="row">
    <div class="col-12 text-center">
        <h3 class="mb-3 font-weight-normal">Create a New Product</h3>
    </div>
    <div class="col-12">
        <form action="/products" class="form-signin" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="prodName" class="sr-only">Product Name</label>
                <input class="form-control" id="prodName" type="text" name="product[name]" placeholder="name">
            </div>
            <div class="form-group">
                <label for="prodPrice" class="sr-only">Product Price</label>
                <input class="form-control" id="prodPrice" type="number" name="product[price]" placeholder="price"
                    min="1" step="0.5">
            </div>
            <div class="form-group">
                <label for="prodImage" class="sr-only">Product Image</label>
                <input type="file" id="prodImage" name="image" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="prodDesc" class="sr-only">Product Description</label>
                <textarea class="form-control" id="prodDesc" type="text" name="product[description]"
                    placeholder="description" cols="10" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="prodLoca" class="sr-only"> Location</label>
                <input class="form-control" id="prodLoca" type="text" name="product[location]"
                    placeholder="San Francisco, CA">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-outline-success btn-block">Submit!</button>
            </div>
        </form>
        <div class="form-signin">
            <label for="goBK" class="sr-only">Go Back</label>
            <a href="/products">Go Back</a>
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>